main h1 {
  color: #000;
  background-color: #E7E4CA; }

.accordion .accordion-button:hover, .accordion .accordion-button:not(.collapsed), .btn:hover {
  background-color: #cbc8b0;
  color: #000; }

/*RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*ESTILOS A GENERALES*/
html {
  font-size: 62.5%;
  font-size: 1rem; }

body {
  min-height: 100dvh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #000; }

a {
  text-decoration: none;
  color: #000; }

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.2rem; } }

/*ESTRUCTURA GRID*/
#page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: "nav head" "nav  main" "foot  foot";
  grid-template-rows: 100px 1fr 50px;
  grid-template-columns: 130px 1fr; }
  #page header {
    grid-area: head;
    border-radius: 5px; }
  #page .nav-cel {
    grid-area: nav;
    border-right: 0.02rem solid #000;
    border-radius: 2px; }
  #page main {
    grid-area: main;
    background-color: #E7E4CA; }
  #page footer {
    grid-area: foot;
    border-top: 2px solid #000;
    border-radius: 5px;
    background-color: #E7E4CA; }

/*ESTRUCTURA GRID PC*/
@media screen and (min-width: 990px) {
  #page {
    grid-template-areas: " nav head aside" " nav  main aside" " foot  foot foot";
    grid-template-rows: 150px 1fr 50px;
    grid-template-columns: 2fr 4fr 2fr; } }
  @media screen and (min-width: 990px) and (min-width: 990px) and (max-width: 1366px) {
    #page {
      grid-template-rows: 130px 1fr 50px; } }

/*HEADER*/
header img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

/*NAV*/
.nav-pc {
  display: none; }

.nav-cel {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .nav-cel .container-fluid {
    position: sticky;
    top: 0; }
  .nav-cel .nav-logo {
    width: 8rem; }
  .nav-cel .nav-item:hover {
    background-color: #b4b19d; }
  .nav-cel .nav-img {
    height: 8rem;
    width: 6rem; }

.bg-skin {
  background-color: #E7E4CA; }

nav ul li {
  border: 2px solid #000;
  border-radius: 3px;
  list-style: none;
  display: inline-block; }

nav ul li:hover {
  background-color: #b4b19d;
  transform: scale(1.2);
  transition: all 0.5s; }

/*NAV DE PC*/
@media screen and (min-width: 990px) {
  .nav-cel {
    display: none; }
  .nav-pc {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: nav;
    background-image: linear-gradient(#1a1919, #333131 20%); }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0; }
    nav ul img {
      width: 10rem;
      border: 2px solid #000;
      margin-top: 1rem;
      border-radius: 2px; } }
    @media screen and (min-width: 990px) and (min-width: 990px) and (max-width: 1366px) {
      nav ul img {
        width: 8rem; } }

@media screen and (min-width: 990px) {
    nav ul li {
      width: 10rem;
      padding: 1rem 0 1rem;
      margin-top: 1rem;
      text-align: center;
      background-color: #E7E4CA; } }
    @media screen and (min-width: 990px) and (min-width: 990px) and (max-width: 1366px) {
      nav ul li {
        width: 8rem;
        padding: 0.5rem 0 0.5rem;
        margin-top: 0.5rem; } }

@media screen and (min-width: 990px) {
      nav ul li a {
        padding: 1rem 2rem; } }
      @media screen and (min-width: 990px) and (min-width: 900px) and (max-width: 1366px) {
        nav ul li a {
          padding: 0; } }

/*MAIN*/
.main-pc,
.main-pc-consorcios,
.main-pc-servicios {
  display: none; }

.main-cel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#1a1919, #333131 20%); }
  .main-cel .iframe-cel {
    margin: 0.5rem 0;
    width: 90%;
    height: 10rem; }

main h1 {
  display: inline-block;
  margin: 1rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  border: 2px solid #000;
  border-radius: 7px;
  text-align: center; }

main p {
  font-size: 0.7rem; }

.main-text {
  color: #E7E4CA;
  margin: 0 1rem;
  padding: 0.5rem; }

.accordion {
  margin: 1rem;
  border-radius: 2px;
  text-align: left; }
  .accordion .accordion-li {
    margin: 0.5rem 0;
    font-size: 1rem; }
  .accordion .accordion-button {
    border: 2px solid #000;
    background-color: #E7E4CA; }
    .accordion .accordion-button:not(.collapsed) {
      box-shadow: none; }
    .accordion .accordion-button:focus {
      border: #000;
      box-shadow: none; }

.btn {
  color: #000;
  border: 2px solid #000; }
  .btn:active {
    background-color: #000; }
  .btn:hover {
    border: 2px solid #000; }

/*MAIN PC*/
@media screen and (min-width: 600px) {
  .accordion {
    display: none; }
  .main-cel {
    background-image: linear-gradient(to top, #E7E4CA, #a8a695 95%); } }
  @media screen and (min-width: 600px) and (max-width: 989px) {
    .main-cel {
      background-image: linear-gradient(#1a1919, #333131 20%); } }

@media screen and (min-width: 600px) {
    .main-cel .div-form {
      color: #000; }
  .main-pc {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-pc .main-pc-h2 {
      margin-top: 0; }
    .main-pc p {
      padding: 0.5rem; } }
    @media screen and (min-width: 600px) and (max-width: 989px) {
      .main-pc p {
        color: #E7E4CA; } }

@media screen and (min-width: 600px) {
  .marco {
    box-shadow: 5px 5px 15px #000;
    width: 80%;
    border: 2px solid #000;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem; }
  .main-text {
    color: #000; } }
  @media screen and (min-width: 600px) and (max-width: 989px) {
    .main-text {
      color: #E7E4CA; } }
  @media screen and (min-width: 600px) and (max-width: 1366px) {
    .main-text {
      font-size: 1rem; } }

@media screen and (min-width: 600px) {
  main h1 {
    margin: 2rem 0 2rem;
    font-size: 2.5rem;
    padding: 0.5rem; } }
  @media screen and (min-width: 600px) and (min-width: 990px) and (max-width: 1366px) {
    main h1 {
      font-size: 1.5rem; } }

@media screen and (min-width: 600px) {
  main div h2 {
    margin: 1rem 0 1rem 1rem;
    font-family: "Times New Roman", Times, serif;
    padding: 2px;
    border: 2px solid #000;
    border-radius: 7px;
    background-color: #E7E4CA;
    text-align: center; } }
  @media screen and (min-width: 600px) and (min-width: 990px) and (max-width: 1366px) {
    main div h2 {
      font-size: 1.5rem; } }

@media screen and (min-width: 600px) {
  main div p {
    font-size: 1.2rem;
    margin: 0 1rem 0 1rem;
    padding-left: 1rem;
    padding-right: 1rem; } }
  @media screen and (min-width: 600px) and (min-width: 990px) and (max-width: 1366px) {
    main div p {
      font-size: 1.2rem; } }

@media screen and (min-width: 600px) {
  /*MAIN CONSORCIOS*/
  .main-pc-consorcios {
    display: block; }
    .main-pc-consorcios h2 {
      display: inline-block;
      margin: 1rem 0 2rem; }
    .main-pc-consorcios h3 {
      text-align: center;
      font-size: 1.5rem;
      margin: 0 0 1rem 1rem; } }
    @media screen and (min-width: 600px) and (max-width: 989px) {
      .main-pc-consorcios h3 {
        color: #E7E4CA; } }

@media screen and (min-width: 600px) {
    .main-pc-consorcios ul {
      display: block;
      width: 90%;
      text-align: start;
      margin: 0 2rem; }
      .main-pc-consorcios ul li {
        padding-bottom: 1rem; } }
      @media screen and (min-width: 600px) and (max-width: 989px) {
        .main-pc-consorcios ul li {
          color: #E7E4CA; } }

@media screen and (min-width: 600px) {
  /*MAIN SERVICIOS*/
  .main-pc-servicios {
    display: block; }
    .main-pc-servicios h2 {
      display: inline-block;
      margin: 1rem 0 2rem; }
    .main-pc-servicios ul {
      text-align: left; }
      .main-pc-servicios ul li {
        padding-bottom: 0.5rem; } }
      @media screen and (min-width: 600px) and (max-width: 989px) {
        .main-pc-servicios ul li {
          color: #E7E4CA;
          margin-left: 1rem; } }

@media screen and (min-width: 600px) {
  /*MAIN CONTACTO*/
  .form-control {
    border: 2px solid #000; }
    .form-control:focus {
      box-shadow: none;
      border: 2px solid #000; }
  .btn {
    color: #000;
    border: 2px solid #000; }
    .btn:active {
      background-color: #000; }
    .btn:hover {
      background-color: #b4b19d;
      color: #000;
      border: 2px solid #000; }
  .iframe-cel {
    display: none; } }
  @media screen and (min-width: 600px) and (max-width: 989px) {
    .iframe-cel {
      display: block; } }

@media screen and (min-width: 600px) {
  iframe {
    width: 100%;
    height: 20rem; } }

/*ASIDE*/
aside {
  display: none; }
  aside .aside-div2 {
    color: #E7E4CA;
    height: 35rem; }
    aside .aside-div2 img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

/*ASIDE PC*/
@media screen and (min-width: 990px) {
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: aside;
    background-image: linear-gradient(#1a1919, #333131 20%); }
    aside .aside-div1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: sticky;
      top: 0;
      width: 15rem;
      height: 43rem;
      margin-bottom: 1rem;
      color: #E7E4CA;
      text-align: center; } }
    @media screen and (min-width: 990px) and (min-width: 990px) and (max-width: 1366px) {
      aside .aside-div1 {
        width: 10rem;
        height: 32rem; } }

@media screen and (min-width: 990px) {
      aside .aside-div1 a {
        margin-top: 1rem; }
        aside .aside-div1 a .img1 {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      aside .aside-div1 .aside-div1-strong {
        margin-top: 2rem; }
      aside .aside-div1 p {
        font-size: 1rem; }
      aside .aside-div1 .img2 {
        border-radius: 1rem;
        height: 30rem; } }
      @media screen and (min-width: 990px) and (min-width: 990px) and (max-width: 1366px) {
        aside .aside-div1 .img2 {
          height: 20rem; } }

/*FOOTER*/
footer {
  text-align: center;
  font-size: 10px;
  position: sticky;
  bottom: 0; }

/*FOOTER PC*/
@media screen and (min-width: 600px) {
  footer p {
    font-size: 1rem;
    margin-top: 0.5rem;
    display: inline-block; } }
