footer {
    text-align: center;
    font-size: 10px;
    position: sticky;
    bottom: 0;
}

/*FOOTER PC*/
@media screen and (min-width:990px) {
    footer {
        p {
            font-size: 1rem;
            margin-top: 0.5rem;
            display: inline-block;
        }
    }
}