footer {
    text-align: center;
    font-size: 10px;
}
      /*FOOTER PC*/
@media screen and (min-width:1024px) {
    footer{
        p{
            font-size: 1rem;
            margin-top: 0.5rem;
            display: inline-block;
        }
    }
}