@import "../abstracts/variables";

.nav-pc {
    display: none;
}

.nav-cel {
    @include flex;

    .container-fluid {
        @include sticky;
    }

    .nav-logo {
        width: 8rem;
    }

    .nav-item:hover {
        background-color: $hover-color;
    }

    .nav-img {
        height: 8rem;
        width: 6rem;
    }
}

.bg-skin {
    background-color: $main-color;
}

nav {
    ul {
        li {
            border: $border;
            border-radius: 3px;
            list-style: none;
            display: inline-block;
        }

        li:hover {
            background-color: $hover-color;
            transform: scale(1.2);
            transition: all 0.5s;
        }
    }
}

/*NAV DE PC*/
@media screen and (min-width:990px) {
    .nav-cel {
        display: none;
    }

    .nav-pc {
        @include flex;
        grid-area: nav;
        background-image: $secondary-gradient;
    }

    nav {
        ul {
            @include flex;
            @include sticky;

            img {
                width: 10rem;
                border: $border;
                margin-top: 1rem;
                border-radius: 2px;

                @media screen and (min-width: 990px) and (max-width:1366px) {
                    width: 8rem;
                }
            }

            li {
                width: 10rem;
                padding: 1rem 0 1rem;
                margin-top: 1rem;
                text-align: center;
                background-color: $main-color;

                @media screen and (min-width: 990px) and (max-width:1366px) {
                    width: 8rem;
                    padding: 0.5rem 0 0.5rem;
                    margin-top: 0.5rem;
                }

                a {
                    padding: 1rem 2rem;

                    @media screen and (min-width: 900px) and (max-width:1366px) {
                        padding: 0;
                    }
                }
            }
        }
    }
}