html {
    font-size: 62.5%; 
    font-size: 1rem;
}
body {
    min-height: 100dvh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #000;
}
a {
    text-decoration: none;
    color: #000;
}
@media screen and (min-width:1024px) {
    p {
       font-size: 1.2rem;
  }
}