#page {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:
    "nav head"
    "nav  main"
    "foot  foot";
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 130px 1fr;
    header {
        grid-area: head;
        border-radius: 5px;
    }
    .nav-cel {
        grid-area: nav;
        border-right: 0.02rem solid #000;
        border-radius: 2px;
    }
    main {
        grid-area: main;
        background-color: $main-color;
    }
    footer {
        grid-area: foot;
        border-top: $border;
        border-radius: 5px;
        background-color: $main-color;
    }
}
           /*ESTRUCTURA GRID PC*/
@media screen and (min-width: 1024px) {
    #page {
      grid-template-areas: " nav head aside"
   " nav  main aside"
   " foot  foot foot";
      grid-template-rows: 150px 1fr 50px;
      grid-template-columns: 2fr 4fr 2fr; }}