$main-color: #E7E4CA;
$secondary-color: #000;
$hover-color:#b4b19d;
$main-gradient: linear-gradient(to top,#E7E4CA, #a8a695 95%);
$secondary-gradient: linear-gradient(#1a1919,#333131 20%);
$border: 2px solid #000;
$font: 'Times New Roman', Times, serif;